@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons';

/* @theme {
  --color-primary: #0f172a;
  --color-secondary: #020617;
  --color-accent: #111827;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 font-sans;
  }
} */

@layer base {
  button {
    @apply cursor-pointer;
  }
}
